{% extends "layout.html" %}
{% block content %}
    <h2>Add a Task:</h2>
    <form action="/" method="post">
        <input name="taskname" type="text" placeholder="Task Name">
        <input name="taskcontent" type="text" placeholder="Task Content">
        <input name="duedate" type="date">
        <input type="submit">
    </form>
    <h2>Edit Tasks:</h2>
    <form id="editform" action="/edit" method="post">
        <input type="submit" value="Done">
    </form>
    <form action="/" method="get">
        <input type="submit" value="Cancel">
    </form>
    <table style="width:100%">
        <tr>
            <th>Task</th>
            <th>Description</th>
            <th>Due Date</th>
        </tr>
        {% for task in tasks %}
        <tr id="{{task['id']}}">
            <td><input class="deletetask" type="checkbox" form="editform" value="{{task['id']}}" name="delete{{task['id']}}"></input> <i class="fa-sharp fa-solid fa-trash"></i> <input type="text" value="{{task['title']}}" form="editform" class="editinput" id="{{task['id']}}title"> </td>
            <td><input type="text" value="{{task['content']}}" form="editform" class="editinput" id="{{task['id']}}content"></td>
            <td><input type="date" value="{{task['duedate']}}" form="editform" class="editinput" id="{{task['id']}}duedate"></td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}