







{% extends "layout.html" %}
{% block content %}
    <h2>Add a Task:</h2>
    
    <form action="" method="post">
        {{form.taskname.label}}
        {{form.taskname()}}
        <br>
        {{form.taskcontent.label}}
        {{form.taskcontent()}}
        <br>
        {{form.duedate.label}}
        {{form.duedate()}}
        <br>
        {{form.submit()}}
    </form>
    <h2>Current Tasks:</h2>
    <form action="/edit" method="get">
        <input type="submit" value="Edit">
    </form>
    <table id="tasktable" style="width:100%">
        <tr>
            <th>Task</th>
            <th>Description</th>
            <th>Due Date</th>
        </tr>
        <form action="/" method="post" id="completeform"></form>
        {% for task in tasks %}
        <tr class="complete{{task['complete']}}">
            <td><button class="completetask" type="submit" form="completeform" name="complete{{task['id']}}" value="{{task['id']}}"><i class="fa-solid fa-check"></i></button> {{task['title']}}</td>
            <td>{{task['content']}}</td>
            <td>{{task['duedate']}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}